/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE HEADER */

header{
    background-color: orangered;
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 5px;
    margin: 25px 25px;
    color: white;
}

li {
    display: flex;
    justify-content: space-between;
    font-weight: bold ;
}
.action-btn-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 25px;
    outline-color: white;
    color: white;
}
.logo-boolean-header{
    width: 200px;
}

/* REGOLE MAIN */

.card {
    width: calc(100% / 3 - (40px / 3));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
img{
    max-width: 100%;
}

/* DEBUG */

.prezzi{
    display: flex;
    gap: 25px;
}

.prezzo-corrente{
    color: red;
}

.prezzo-originale{
    color: black;
    text-decoration-line: line-through;
}

.footer-bar{
    background-color: darkslategrey;
    display: flex;
    justify-content: space-around;
}

.info-legali{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.altri-link{
    color: white;
    display: flex;
    flex-direction: column;
}
.footer-icons{
    display: flex;
    justify-content: space-between;

}
.footer-icon{
    color: black;
    background-color: white;
}

.row-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


