/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE HEADER */

header {
    background-color: orangered;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 5px;
    margin: 25px 25px;
    color: white;
}

li {
    font-weight: bold;
}

.action-btn-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 25px;
    outline-color: white;
    color: white;
}

.logo-boolean-header {
    width: 200px;
    padding-top: 10px;
}

/* REGOLE MAIN */

.card {
    width: calc(100% / 3 - (40px / 3));
    position: relative;
}

img {
    max-width: 100%;
}

.row-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

main {
    margin: 65px 65px 65px 65px;
}

.prezzo-corrente {
    color: red;
}

.prezzo-originale {
    color: black;
    text-decoration-line: line-through;
}

.label {
    padding: 5px 10px;
    position:absolute;
    bottom: 25%;
    left: 0;
    top: 75%;
}

.discount {
    background-color: red;
    color: white;
    position: relative;
}
.sostenibilita {
   background-color: green;
   color: white;

}






/* DEBUG */


.footer-bar {
    background-color: darkslategrey;
    display: flex;
    justify-content: space-around;
}

.info-legali {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 30px 30px 30px 30px;
}

.altri-link {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.footer-icons {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

}

.footer-icon {
    color: black;
    background-color: white;
}

.cuore-card{
   position: absolute;
   top: 0;
   right: 0; 
   background-color: white;
   font-size: 90px;
}